# Windows
[Dd]esktop.ini
Thumbs.db
$RECYCLE.BIN/

# macOS
.DS_Store
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes

# Node.js
node_modules/
miniprogram_npm/taas/miniprogram_npm/sm-crypto/index.js.map
miniprogram_npm/taas/index.js
miniprogram_npm/taas/index.js
miniprogram_npm/taas/index.js.map
miniprogram_npm/taas/miniprogram_npm/jsbn/index.js.map
miniprogram_npm/taas/miniprogram_npm/sm-crypto/index.js.map
package-lock.json
